<div class="Tokyo">
  <h2>MidTown Tower 11F</h2>
</div>
<div class="list">
  <ul class="toilets">
    <% @beacons.each do |beacon| %>
      <li class="toilet">
        <% unless beacon.user.nil? %>
          <div class="box">
            <%= image_tag status_image(beacon) %>
          </div>
          <%= image_tag "door_close.png" %>
        <% else %>
          <div class="box">
          </div>
        <%= image_tag "door_open.png" %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<div class="medicine">
  <h2>Medicine  × <%= Kitty.medicine %></h2></br>
  <% (1..Kitty.medicine).each do %>
  <%= image_tag "medicine.png" %>
  <% end%>
  <div class="total">
    <h3>Total <%= Kitty.now %> YEN</h3>
  </div>
</div>
