<h1>New user</h1>

<%= form_tag('/users', method: 'post') do %>
  <div class="field">
    <label>beacon id</label>
    <%= text_field_tag :devise_id %>
  </div>
  <div class="field">
    <label>uid</label>
    <%= text_field_tag :uid %>
  </div>
  <div class="actions">
    <%= submit_tag 'ä½œæˆ' %>
  </div>
<% end %>

<%= link_to 'Back', users_path %>
