<!DOCTYPE html>
<html>
<head>
  <title>GeliPayServer</title>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Contrail+One', media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Share+Tech', media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  </head>
<body>
  <div class="container">
    <div class="logo">
      GeliPay
      <%= image_tag "logo.png" %>
    </div>

    <%= yield %>
  </div>

  <footer>
    <hr>
    <p>© iBencon All Rights Reserved.</p>
  </footer>
</body>
</html>
